@import url(./Components/Scroll/ScrollToTop.css);
@import url(./Components/Scroll/ScrollToBottom.css);

.App {
  text-align: center;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}
.App {
  background-color: white;
  color: black;
}
